# =========================================================
# GIT
# =========================================================

.git
.gitignore


# =========================================================
# PYTHON
# =========================================================

__pycache__/
*.py[cod]
*.pyo

.venv/
venv/
env/


# =========================================================
# PYTEST
# =========================================================

.pytest_cache/
.coverage
htmlcov/


# =========================================================
# ENVIRONMENT / SECRETS
# =========================================================

.env


# =========================================================
# IDE
# =========================================================

.vscode/
.idea/


# =========================================================
# LOGS
# =========================================================

logs/
*.log


# =========================================================
# ALEMBIC CACHE
# =========================================================

alembic/__pycache__/
alembic/versions/__pycache__/


# =========================================================
# OS
# =========================================================

.DS_Store
Thumbs.db